/*====================================================================
6.1 Features <ul class="flexblock features">
====================================================================== */

.flexblock.features {
    >li {
        border-radius: .4em;
        margin-bottom: 1.2em;
        width: 100%;
    }
    li h2 {
        text-transform: uppercase;
    }
    li span {
        font-weight: 300;
    }
    li p {
        margin: 0;
    }
    li p em {
        display: block;
    }
    li span,
    li svg,
    li i.fa {
        display: block;
        font-size: 1.4em;
        line-height: 1;
        margin: 0;
    }
    li img {
        width: 6.4em;
    }
    li span sup {
        font-size: 3em;
    }
}