/*==================================================
6.3 flexblock.steps <ul class="flexblock steps">
About, Philosophy...
=================================================== */

.steps li {
  width: 100%;

  img,
  span {
    display: block;
    margin: 0 auto .8em;
  }

  span {
    font-size: 1.4em;
  }
}
