/*=========================================
14. Forms
=========================================== */

form {
  text-align: left;

  & + p,
  input + p,
  textarea + p {
    margin-top: .8em;
  }
}


input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'] {
  appearance: none;
  border-radius: 0;
}

input,
button,
select {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 400;
  height: 1.4em;
  margin: 0;
  padding: .7em;
  position: relative;
  width: 100%;

}

input[type='radio'],
input[type='checkbox'] {
  height: auto;
  padding: 4px;
  width: auto;
}

button[type='submit'],
textarea {
  width: 100%;
}

textarea {
  padding: .7em;
}

button {
  cursor: pointer;
  text-align: center;
  width: auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.8em;
  min-width: 4em;
  padding: 0 1.2em;
  text-align: center;

  svg {
    font-size: 1.2em;
  }
}

.button.radius,
input.radius {
  border-radius: 1.2em;
}

button,
input[type='submit'] {
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}


.plans .button {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.try {
  display: block;
  font-size: 1.6em;
  margin-top: 1.6em;
}

fieldset {
  padding: 1.2em;
}

legend {
  border: 0;
  font-weight: 400;
  letter-spacing: .1em;
  padding: 1.2em 1.2em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  border-width: 1px;
}

a.button:hover,
button[type='submit']:hover,
input[type='submit']:hover {
  transform: scale(1.01);
}

:disabled,
button:disabled:hover {
  cursor: not-allowed;
}

.user {
  input {
    margin-bottom: 0;

    &[type='email'],
    &[type='search'],
    &[type='text'] {
      width: 100%;
    }
  }

  button,
  input[type='submit'] {
    left: 0;
    width: 100%;
  }
}
